{% extends 'base.html' %}

{% block title %}HOD Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Welcome to the HOD Dashboard</h1>

        <div class="card mb-4">
            <div class="card-header">
                Staff Management
            </div>
            <div class="card-body">
                <p>Manage staff information and assign tasks.</p>
                <a href="{% url 'users:manage_staff' %}" class="btn btn-info">Manage Staff</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                View All Students
            </div>
            <div class="card-body">
                <p>Review student performance and attendance.</p>
                <a href="{% url 'users:yearwise_sections_view' %}" class="btn btn-primary">Manage Students by Year and Section</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
