{% extends 'base.html' %}
{% block title %}Staff Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2>Staff Dashboard</h2>

    <div class="card mb-4">
        <div class="card-header">
            <h4>Class Management</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'users:view_classes' %}" class="btn btn-primary">View Classes</a>
        </div>
    </div>

     {% comment %} <div class="card mb-4">
        <div class="card-header">
            <h4>Student Management</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'users:view_students' %}" class="btn btn-info">View Students</a>
            <a href="{% url 'users:add_student' %}" class="btn btn-success">Add Student</a>
        </div>
    </div>  {% endcomment %}

    {% comment %} <div class="card mb-4">
        <div class="card-header">
            <h4>Student Actions</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'users:edit_student' %}" class="btn btn-warning">Edit Student</a>
            <a href="{% url 'users:delete_student' %}" class="btn btn-danger">Delete Student</a>
        </div>
    </div> {% endcomment %}
</div>
{% endblock %}
