Django
mysqlclient
django-crispy-forms
djangorestframework  # If using DRF for APIs
Pillow
gunicorn  # For production, optional
whitenoise  # For static file handling in production
#rest_framework - idk why, but it asked me to install this
