{% extends 'base.html' %}

{% block content %}
  <h2>Internal Marks List</h2>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Exam Name</th>
        <th>Marks</th>
        <th>Class</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for mark in marks %}
        <tr>
          <td>{{ mark.student }}</td>
          <td>{{ mark.exam_name }}</td>
          <td>{{ mark.marks }}</td>
          <td>{{ mark.class_enrolled }}</td>
          <td>
            <a href="{% url 'update_internal_marks' mark.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
