{% extends 'base_generic.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-4">Are you sure you want to log out?</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger btn-block">Yes, log out</button>
                            <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
