{% extends 'base.html' %}
{% block content %}
  <a href="{% url 'users:redirection' %}" class="btn btn-secondary">Back</a>  
  <h1>Course List</h1>
  <a href="{% url 'courses:add_course' %}" class="btn btn-success">Add New Course</a>
  <ul>
    {% for course in courses %}
      <li>
        <hr>
        {{ course.name }} - Instructor: {{ course.description}}
        {% if course.id %}
          <a href="{% url 'courses:edit_course' course.id %}" class="btn">Edit</a>
          <a href="{% url 'courses:delete_course' course.id %}" class="btn">Delete</a>
        {% else %}
          <span>No valid course ID available.</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
