{% extends 'base.html' %}
{% block content %}
  <h1>Course List</h1>
  <a href="{% url 'courses:add_course' %}">Add New Course</a>
  <ul>
    {% for course in courses %}
      <li>
        {{ course.name }} - Instructor: {{ course.description}}<br>
        {% if course.id %}
          <a href="{% url 'courses:edit_course' course.id %}">Edit</a><br>
          <a href="{% url 'courses:delete_course' course.id %}">Delete</a>
        {% else %}
          <span>No valid course ID available.</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
